################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DLGCY.FilesWatcher/FileContentIndex/3b7d41ad-9e70-49f8-9f9f-d42cdc809cd9.vsidx
